.bottoncolor {
    background-color: black;
    border-color: black;
}

.bottoncolor2 {
    background-color: red;
    border-color: red;
}

.bottoncolor3 {
    background-color: yellow;
    border-color: yellow;
}

.bottoncolor4 {
    background-color: green;
    border-color: green;
}